body {
  background: #fff;
  color: #333; }

a {
  text-decoration: underline;
  color: #8d0d0b; }
  a:hover {
    color: #8d0d0b;
    text-decoration: none;
    opacity: .8; }

h1 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  list-style: none;
  box-shadow: none;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  display: block;
  float: none;
  color: #8D0D0B;
  font-family: "MyriadPro", sans-serif;
  font-size: 28px;
  line-height: 30px;
  margin-top: 19px;
  margin-bottom: 16px; }
  @media only screen and (min-width: 86.4375em) {
    h1 {
      font-size: 44px;
      line-height: 48px;
      margin-top: 22px;
      margin-bottom: 23px; } }

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 20px;
  margin-right: 4px;
  position: relative;
  top: -3px;
  background-position: 0 50%;
  background-repeat: no-repeat; }
  .icon--store {
    background-image: url(../img/icon-store-white.png); }
  .icon--card {
    background-image: url(../img/icon-card-white.png); }
  .icon--address {
    background-image: url(../img/icon-address-white.png); }
  .icon--phone {
    background-image: url(../img/icon-phone-white.png); }
  .icon--email {
    background-image: url(../img/icon-email-white.png); }

.page {
  overflow: hidden; }

.header {
  border-bottom: 6px solid #8d0d0b; }
  @media only screen and (min-width: 48.0625em) {
    .header .icon {
      width: 18px;
      height: 17px;
      top: -3px;
      background-size: 100% 100%; } }
  .header__search {
    float: right;
    margin-top: 11px;
    margin-right: 15px;
    width: 96px;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 48.0625em) {
      .header__search {
        width: 70px;
        margin-top: 13px;
        margin-left: 20px; } }
    @media only screen and (min-width: 64.0625em) {
      .header__search {
        width: 89px;
        margin-top: 20px; } }
    @media only screen and (min-width: 86.4375em) {
      .header__search {
        margin-top: 24px;
        margin-left: 66px; } }
    .header__search form {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: block;
      float: none;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 20px;
      padding-top: 10px;
      background: #333333; }
      .header__search form:before {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 20px;
        background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0) 0%, #333333 100%);
        background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, #333333 100%); }
      .header__search form input[type="text"] {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        cursor: pointer;
        width: 76px;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFF;
        font-family: "MyriadPro", sans-serif;
        font-size: 22px;
        font-weight: normal;
        text-overflow: ellipsis;
        border-bottom: 1px solid transparent;
        -webkit-transition: all 0.2s ease-out 0.1s;
                transition: all 0.2s ease-out 0.1s; }
        @media only screen and (min-width: 48.0625em) {
          .header__search form input[type="text"] {
            width: 50px;
            font-size: 14px; } }
        @media only screen and (min-width: 64.0625em) {
          .header__search form input[type="text"] {
            width: 69px;
            font-size: 18px; } }
        .header__search form input[type="text"]:focus {
          width: 250px;
          border-bottom: 1px solid #FFF; }
        .header__search form input[type="text"]:-moz-placeholder {
          color: #FFF;
          font-family: "MyriadPro", sans-serif;
          font-size: 22px;
          font-weight: normal; }
        .header__search form input[type="text"]::-moz-placeholder {
          color: #FFF;
          font-family: "MyriadPro", sans-serif;
          font-size: 22px;
          font-weight: normal; }
        .header__search form input[type="text"]:-ms-input-placeholder {
          color: #FFF;
          font-family: "MyriadPro", sans-serif;
          font-size: 22px;
          font-weight: normal; }
        .header__search form input[type="text"]::-webkit-input-placeholder {
          color: #FFF;
          font-family: "MyriadPro", sans-serif;
          font-size: 22px;
          font-weight: normal; }
        @media only screen and (min-width: 48.0625em) {
          .header__search form input[type="text"]:-moz-placeholder {
            font-size: 14px; }
          .header__search form input[type="text"]::-moz-placeholder {
            font-size: 14px; }
          .header__search form input[type="text"]:-ms-input-placeholder {
            font-size: 14px; }
          .header__search form input[type="text"]::-webkit-input-placeholder {
            font-size: 14px; } }
        @media only screen and (min-width: 64.0625em) {
          .header__search form input[type="text"]:-moz-placeholder {
            font-size: 18px; }
          .header__search form input[type="text"]::-moz-placeholder {
            font-size: 18px; }
          .header__search form input[type="text"]:-ms-input-placeholder {
            font-size: 18px; }
          .header__search form input[type="text"]::-webkit-input-placeholder {
            font-size: 18px; } }
      .header__search form button {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        background-color: transparent;
        background-repeat: no-repeat;
        direction: ltr;
        overflow: hidden;
        text-align: left;
        text-indent: -999em;
        font-size: 1px;
        white-space: nowrap;
        position: absolute;
        top: 10px;
        right: 0;
        width: 17px;
        height: 17px;
        background: url(../img/icon-loupe-white.png) 0 0 no-repeat; }
        @media only screen and (min-width: 48.0625em) {
          .header__search form button {
            background-size: 70% 70%; } }
        @media only screen and (min-width: 64.0625em) {
          .header__search form button {
            background-size: 90% 90%; } }
        @media only screen and (min-width: 86.4375em) {
          .header__search form button {
            background-size: 100% 100%; } }
  .header .top-bar {
    height: 62px; }
    @media only screen and (min-width: 48.0625em) {
      .header .top-bar {
        height: auto; } }
    .header .top-bar.expanded {
      height: auto;
      background: #333333; }
    .header .top-bar .title-area {
      float: left;
      margin-top: 7px; }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .title-area {
          width: 108px; } }
      @media only screen and (min-width: 64.0625em) {
        .header .top-bar .title-area {
          margin-top: 16px;
          width: 141px; } }
      @media only screen and (min-width: 86.4375em) {
        .header .top-bar .title-area {
          margin-top: 19px;
          width: 160px; } }
      .header .top-bar .title-area .name {
        height: auto; }
        .header .top-bar .title-area .name a {
          width: 72%; }
          @media only screen and (min-width: 48.0625em) {
            .header .top-bar .title-area .name a {
              width: 100%;
              padding-right: 0; } }
    .header .top-bar .toggle-topbar.menu-icon a {
      height: 35px;
      width: 35px;
      overflow: hidden;
      line-height: 34px;
      padding: 0;
      border: 3px solid #fff;
      right: 16px;
      top: -2px; }
      .header .top-bar .toggle-topbar.menu-icon a span::after {
        box-shadow: 0 0 0 2px #FFFFFF, 0 7px 0 2px #FFFFFF, 0 14px 0 2px #FFFFFF;
        width: 19px;
        left: 5px;
        margin-top: -7px; }
    .header .top-bar .top-bar-section {
      float: none;
      margin-top: 60px; }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section {
          float: right;
          margin-top: 2px;
          height: auto; } }
      .header .top-bar .top-bar-section .label {
        color: #FFF;
        font-family: "MyriadPro", sans-serif;
        font-size: 16px;
        font-weight: 400;
        background: #8d0d0b;
        vertical-align: middle;
        padding: 5px 7px 2px 7px;
        margin-top: -4px;
        margin-right: 5px; }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section .label {
            font-size: 12px; } }
        @media only screen and (min-width: 64.0625em) {
          .header .top-bar .top-bar-section .label {
            font-size: 16px; } }
        @media only screen and (min-width: 86.4375em) {
          .header .top-bar .top-bar-section .label {
            font-size: 18px; } }
      .header .top-bar .top-bar-section > ul a {
        text-decoration: none; }
        .header .top-bar .top-bar-section > ul a:hover {
          opacity: 1; }
      @media only screen and (min-width: 86.4375em) {
        .header .top-bar .top-bar-section > ul > li {
          margin-left: 15px; } }
      .header .top-bar .top-bar-section > ul > li:hover {
        cursor: pointer; }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li:hover,
          .header .top-bar .top-bar-section > ul > li:hover a {
            background: #8d0d0b; } }
      .header .top-bar .top-bar-section > ul > li > a {
        padding-left: 20px;
        color: #FFF;
        font-family: "MyriadPro", sans-serif;
        font-size: 19px;
        font-weight: normal; }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li > a {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 12px;
            padding-top: 18px;
            line-height: 24px;
            padding-left: 7px;
            padding-right: 7px; } }
        @media only screen and (min-width: 64.0625em) {
          .header .top-bar .top-bar-section > ul > li > a {
            font-weight: normal;
            font-size: 19px;
            padding-bottom: 21px;
            padding-top: 29px;
            line-height: 24px;
            padding-left: 19px;
            padding-right: 19px; } }
        @media only screen and (min-width: 86.4375em) {
          .header .top-bar .top-bar-section > ul > li > a {
            font-size: 22px;
            letter-spacing: 1px;
            padding-bottom: 25px;
            padding-top: 36px;
            padding-left: 20px;
            padding-right: 20px; } }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li > a:hover .label {
            background: #fff;
            color: #8d0d0b; } }
      .header .top-bar .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
        background: #8d0d0b;
        font-weight: normal; }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
            padding-bottom: 25px;
            padding-top: 31px;
            line-height: 24px; } }
        @media only screen and (min-width: 64.0625em) {
          .header .top-bar .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
            padding-bottom: 21px;
            padding-top: 29px; } }
        @media only screen and (min-width: 86.4375em) {
          .header .top-bar .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
            padding-bottom: 25px;
            padding-top: 36px; } }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section > ul > li ul {
          margin-top: -10px; } }
      @media only screen and (min-width: 64.0625em) {
        .header .top-bar .top-bar-section > ul > li ul {
          margin-top: -20px;
          padding-bottom: 10px;
          background: #8d0d0b; } }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section > ul > li ul li {
          background: #8d0d0b;
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media only screen and (min-width: 64.0625em) {
        .header .top-bar .top-bar-section > ul > li ul li {
          padding-top: 8px;
          padding-bottom: 8px; } }
      .header .top-bar .top-bar-section > ul > li ul li a {
        color: #FFF;
        font-family: "MyriadPro", sans-serif;
        font-size: 22px;
        letter-spacing: 1px; }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li ul li a {
            text-decoration: underline;
            letter-spacing: 0;
            font-size: 14px;
            padding-left: 20px; } }
        @media only screen and (min-width: 48.0625em) {
          .header .top-bar .top-bar-section > ul > li ul li a:hover {
            text-decoration: none; } }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section > ul > li ul li:not(.has-form):not(.active) > a:not(.button) {
          background: #8d0d0b;
          line-height: 18px;
          padding-left: 12px; } }
      @media only screen and (min-width: 64.0625em) {
        .header .top-bar .top-bar-section > ul > li ul li:not(.has-form):not(.active) > a:not(.button) {
          padding-left: 22px; } }
      @media only screen and (min-width: 86.4375em) {
        .header .top-bar .top-bar-section > ul > li ul li:not(.has-form):not(.active) > a:not(.button) {
          padding-left: 32px; } }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section .has-dropdown > a {
          padding-right: 30px !important; } }
      @media only screen and (min-width: 48.0625em) {
        .header .top-bar .top-bar-section .has-dropdown > a:after {
          margin: 0;
          padding: 0;
          background: none;
          border: none;
          border-radius: 0;
          outline: none;
          list-style: none;
          box-shadow: none;
          position: static;
          clip: auto;
          width: auto;
          height: auto;
          display: block;
          float: none;
          content: "";
          position: absolute;
          border: 4px solid transparent;
          border-top-color: #fff;
          margin-top: -1px;
          top: 50%;
          right: 14px; } }
  .header .title.back.js-generated h5 a {
    background: #333333; }
  .header .parent-link {
    display: none !important; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #8d0d0b;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .columns {
    font-size: 12px;
    line-height: 18px; }
    @media only screen and (min-width: 48.0625em) {
      .footer .columns {
        line-height: 24px; } }
    @media only screen and (min-width: 64.0625em) {
      .footer .columns {
        font-size: 14px; } }
  .footer__logo {
    margin-top: 6px; }
  .footer__social {
    margin-top: 10px; }
    .footer__social ul {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: block;
      float: none;
      font-size: 0 !important;
      line-height: 0 !important;
      letter-spacing: -1px !important;
      text-align: right; }
      .footer__social ul > * {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0; }
      .footer__social ul li {
        margin-left: 5px;
        margin-bottom: 5px; }
        @media only screen and (min-width: 48.0625em) {
          .footer__social ul li {
            margin-left: 10px; } }
        .footer__social ul li:first-child {
          margin-left: 0; }
        .footer__social ul li a {
          background-color: transparent;
          background-repeat: no-repeat;
          direction: ltr;
          overflow: hidden;
          text-align: left;
          text-indent: -999em;
          font-size: 1px;
          white-space: nowrap;
          display: block;
          width: 26px;
          height: 26px;
          background-image: url(../img/social-sprite.png);
          background-repeat: no-repeat;
          background-size: 114px; }
          @media only screen and (min-width: 48.0625em) {
            .footer__social ul li a {
              background-size: 165px;
              width: 37px;
              height: 37px; } }
          @media only screen and (min-width: 86.4375em) {
            .footer__social ul li a {
              background-size: auto;
              width: 49px;
              height: 49px; } }
    .footer__social--fb a {
      background-position: 0 0; }
    .footer__social--vk a {
      background-position: -29px 0; }
      @media only screen and (min-width: 48.0625em) {
        .footer__social--vk a {
          background-position: -42px 0; } }
      @media only screen and (min-width: 86.4375em) {
        .footer__social--vk a {
          background-position: -58px 0; } }
    .footer__social--tw a {
      background-position: -58px 0; }
      @media only screen and (min-width: 48.0625em) {
        .footer__social--tw a {
          background-position: -85px 0; } }
      @media only screen and (min-width: 86.4375em) {
        .footer__social--tw a {
          background-position: -118px 0; } }
    .footer__social--in a {
      background-position: -89px 0; }
      @media only screen and (min-width: 48.0625em) {
        .footer__social--in a {
          background-position: -129px 0; } }
      @media only screen and (min-width: 86.4375em) {
        .footer__social--in a {
          background-position: -118px 0; } }

.latest {
  margin-top: 5px;
  max-height: 370px; }
  @media only screen and (min-width: 64.0625em) {
    .latest {
      margin-top: 0; } }
  @media only screen and (min-width: 86.4375em) {
    .latest {
      margin-left: -15px; } }
  .latest__title h3 {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    color: #8d0d0b;
    font-family: "MyriadPro", sans-serif;
    font-size: 22px;
    white-space: nowrap; }
    @media only screen and (min-width: 64.0625em) {
      .latest__title h3 {
        position: absolute;
        left: 12.5%;
        top: 12px; } }
    @media only screen and (min-width: 86.4375em) {
      .latest__title h3 {
        top: 18px;
        font-size: 28px; } }
  @media only screen and (min-width: 48.0625em) {
    .latest__list {
      position: static !important; } }
  .latest__list .slick-dots {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    font-size: 0 !important;
    line-height: 0 !important;
    letter-spacing: -1px !important;
    margin-top: 7px; }
    .latest__list .slick-dots > * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0; }
    @media only screen and (min-width: 30.0625em) {
      .latest__list .slick-dots {
        margin-top: 0;
        position: absolute;
        text-align: center;
        height: auto;
        top: 50%;
        margin-top: -3px;
        right: 0; } }
    @media only screen and (min-width: 48.0625em) {
      .latest__list .slick-dots {
        margin-top: 0;
        position: absolute;
        text-align: center;
        height: auto;
        top: auto;
        margin-top: 0;
        left: 9%;
        right: auto;
        bottom: 10px; } }
    @media only screen and (min-width: 86.4375em) {
      .latest__list .slick-dots {
        left: 7%; } }
    .latest__list .slick-dots li {
      margin: 0 2px;
      position: relative;
      z-index: 1; }
      @media only screen and (min-width: 86.4375em) {
        .latest__list .slick-dots li {
          margin: 0 4px; } }
      .latest__list .slick-dots li button {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        background-color: transparent;
        background-repeat: no-repeat;
        direction: ltr;
        overflow: hidden;
        text-align: left;
        text-indent: -999em;
        font-size: 1px;
        white-space: nowrap;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #bfbfbf;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
        @media only screen and (min-width: 86.4375em) {
          .latest__list .slick-dots li button {
            width: 14px;
            height: 14px; } }
        .latest__list .slick-dots li button:before {
          display: none; }
      .latest__list .slick-dots li.slick-active button {
        background: #8D0D0B; }
  .latest__item {
    outline: none; }
    .latest__item .item__image {
      max-height: 360px;
      overflow: hidden; }
      @media only screen and (min-width: 64.0625em) {
        .latest__item .item__image {
          margin-right: -15px; } }
    .latest__item .item__title {
      line-height: 18px;
      padding-right: 75px; }
      @media only screen and (min-width: 30.0625em) {
        .latest__item .item__title {
          margin-top: 5px; } }
      @media only screen and (min-width: 48.0625em) {
        .latest__item .item__title {
          padding-right: 0; } }
      @media only screen and (min-width: 64.0625em) {
        .latest__item .item__title {
          margin-top: 48px;
          line-height: 20px; } }
      @media only screen and (min-width: 86.4375em) {
        .latest__item .item__title {
          margin-top: 70px;
          line-height: 26px;
          padding-right: 20px; } }
      .latest__item .item__title a {
        color: #333;
        font-family: "MyriadPro", sans-serif;
        font-size: 14px; }
        @media only screen and (min-width: 64.0625em) {
          .latest__item .item__title a {
            font-size: 16px; } }
        @media only screen and (min-width: 86.4375em) {
          .latest__item .item__title a {
            font-size: 20px; } }

.slider {
  margin: 7px -15px 0 -15px; }
  @media only screen and (min-width: 48.0625em) {
    .slider {
      margin: 0 -10px; } }
  @media only screen and (min-width: 86.4375em) {
    .slider {
      margin: 0 -30px; } }
  .slider__list .slick-dots {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    font-size: 0 !important;
    line-height: 0 !important;
    letter-spacing: -1px !important;
    position: absolute;
    text-align: center;
    height: auto;
    bottom: 10px;
    left: 0;
    right: 0; }
    .slider__list .slick-dots > * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0; }
    .slider__list .slick-dots li {
      margin: 0 2px;
      position: relative;
      z-index: 1; }
      @media only screen and (min-width: 86.4375em) {
        .slider__list .slick-dots li {
          margin: 0 4px; } }
      .slider__list .slick-dots li button {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        background-color: transparent;
        background-repeat: no-repeat;
        direction: ltr;
        overflow: hidden;
        text-align: left;
        text-indent: -999em;
        font-size: 1px;
        white-space: nowrap;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #bfbfbf;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
        @media only screen and (min-width: 86.4375em) {
          .slider__list .slick-dots li button {
            width: 14px;
            height: 14px; } }
        .slider__list .slick-dots li button:before {
          display: none; }
      .slider__list .slick-dots li.slick-active button {
        background: #8D0D0B; }
  .slider__item {
    outline: none; }
    .slider__item .item__image {
      max-height: 360px;
      overflow: hidden; }
      .slider__item .item__image img {
        display: block; }

.fact {
  margin-top: 16px; }
  @media only screen and (min-width: 48.0625em) {
    .fact {
      margin-top: 5px; } }
  @media only screen and (min-width: 86.4375em) {
    .fact {
      margin-right: -15px;
      padding-left: 30px;
      margin-top: 16px; } }
  .fact__title h3 {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    color: #8d0d0b;
    font-family: "MyriadPro", sans-serif;
    font-size: 22px;
    white-space: nowrap; }
    @media only screen and (min-width: 86.4375em) {
      .fact__title h3 {
        margin-left: 40px;
        font-size: 28px; } }
  .fact__text {
    color: #333;
    font-family: "MyriadPro", sans-serif;
    font-size: 11px;
    font-style: italic;
    line-height: 14px; }
    @media only screen and (min-width: 48.0625em) {
      .fact__text {
        margin-top: 7px; } }
    @media only screen and (min-width: 86.4375em) {
      .fact__text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px; } }
    .fact__text img {
      display: none;
      margin-bottom: 15px; }
      @media only screen and (min-width: 64.0625em) {
        .fact__text img {
          display: block; } }

@media only screen and (min-width: 48.0625em) {
  .header {
    position: relative; } }

.header .columns {
  position: static; }

.materials {
  padding-bottom: 30px; }
  @media only screen and (min-width: 48.0625em) {
    .materials {
      padding-left: 27px; } }
  .materials__head {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    display: table;
    width: 100%;
    font-size: 0 !important;
    line-height: 0 !important;
    letter-spacing: -1px !important;
    margin-bottom: -20px; }
    .materials__head > * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: top;
      vertical-align: top;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0; }
  .materials__title {
    display: table-cell;
    width: 1%; }
    .materials__title h1 {
      color: #333;
      padding-right: 20px; }
  .materials__categories {
    display: table-cell;
    vertical-align: middle;
    color: #8d0d0b;
    font-size: 12px; }
    @media only screen and (min-width: 30.0625em) {
      .materials__categories {
        font-size: 16px; } }
  .materials__list {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    font-size: 0 !important;
    line-height: 0 !important;
    letter-spacing: -1px !important; }
    .materials__list > * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0; }
  .materials__item {
    margin-top: 20px;
    width: 29%;
    padding-right: 30px; }
    @media only screen and (max-width: 30em) {
      .materials__item {
        width: 100%;
        padding-right: 0; } }
    @media only screen and (min-width: 86.4375em) {
      .materials__item {
        margin-top: 50px; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+1) {
        width: 50%; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+1) {
        width: 44%; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+2) {
        width: 50%;
        padding-right: 0; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+2) {
        width: 56%;
        padding-right: 0; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+3) {
        width: auto; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+3) {
        width: auto; } }
    @media only screen and (min-width: 64.0625em) {
      .materials__item:nth-child(6n+3) {
        width: 42%; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+4) {
        width: 50%; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+4) {
        width: 44%; } }
    @media only screen and (min-width: 64.0625em) {
      .materials__item:nth-child(6n+4) {
        width: 49%;
        padding-right: 15px;
        padding-bottom: 30px; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+5) {
        width: 50%;
        padding-right: 0; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+5) {
        width: 56%;
        padding-right: 0; } }
    @media only screen and (min-width: 64.0625em) {
      .materials__item:nth-child(6n+5) {
        width: 32%;
        padding-left: 30px; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+6) {
        width: auto; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+6) {
        width: auto; } }
    @media only screen and (min-width: 64.0625em) {
      .materials__item:nth-child(6n+6) {
        width: 21%; } }
    .materials__item .item__category {
      margin-top: 16px; }
      .materials__item .item__category a {
        display: inline-block;
        vertical-align: top;
        color: #8D0D0B;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        border: 1px solid #8D0D0B;
        padding: 1px 12px;
        text-decoration: none; }
        @media only screen and (min-width: 86.4375em) {
          .materials__item .item__category a {
            font-size: 18px;
            line-height: 18px;
            border-width: 2px;
            padding: 4px 16px; } }
    .materials__item .item__text {
      margin-top: 10px;
      color: #333;
      font-size: 12px;
      line-height: 14px; }
      @media only screen and (min-width: 86.4375em) {
        .materials__item .item__text {
          margin-top: 18px;
          font-size: 16px;
          line-height: 20px; } }
      .materials__item .item__text img {
        display: block;
        margin-bottom: 20px; }
        @media only screen and (min-width: 86.4375em) {
          .materials__item .item__text img {
            margin-bottom: 30px; } }
      .materials__item .item__text h4 {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        color: #8D0D0B;
        font-family: "MyriadPro", sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px; }
        @media only screen and (min-width: 86.4375em) {
          .materials__item .item__text h4 {
            font-size: 26px;
            line-height: 34px;
            margin-bottom: 18px; } }
    @media only screen and (min-width: 30.0625em) and (max-width: 48em) {
      .materials__item:nth-child(6n+3),
      .materials__item:nth-child(6n+6) {
        background: #333;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px; }
        .materials__item:nth-child(6n+3) .item a,
        .materials__item:nth-child(6n+6) .item a {
          color: #fff; }
        .materials__item:nth-child(6n+3) .item__category a,
        .materials__item:nth-child(6n+6) .item__category a {
          border-color: #fff;
          color: #fff; }
        .materials__item:nth-child(6n+3) .item__text,
        .materials__item:nth-child(6n+6) .item__text {
          color: #fff; }
          .materials__item:nth-child(6n+3) .item__text h4,
          .materials__item:nth-child(6n+6) .item__text h4 {
            color: #fff; } }
    @media only screen and (min-width: 48.0625em) and (max-width: 64em) {
      .materials__item:nth-child(6n+3),
      .materials__item:nth-child(6n+6) {
        background: #333;
        margin-left: -42px;
        margin-right: -15px;
        padding-left: 42px;
        padding-right: 15px;
        padding-bottom: 20px; }
        .materials__item:nth-child(6n+3) .item a,
        .materials__item:nth-child(6n+6) .item a {
          color: #fff; }
        .materials__item:nth-child(6n+3) .item__category a,
        .materials__item:nth-child(6n+6) .item__category a {
          border-color: #fff;
          color: #fff; }
        .materials__item:nth-child(6n+3) .item__text,
        .materials__item:nth-child(6n+6) .item__text {
          color: #fff; }
          .materials__item:nth-child(6n+3) .item__text h4,
          .materials__item:nth-child(6n+6) .item__text h4 {
            color: #fff; } }
    @media only screen and (min-width: 64.0625em) {
      .materials__item:nth-child(6n+4) {
        background: #333;
        margin-left: -37px;
        padding-left: 37px;
        padding-bottom: 20px; }
        .materials__item:nth-child(6n+4) .item a {
          color: #fff; }
        .materials__item:nth-child(6n+4) .item__category a {
          border-color: #fff;
          color: #fff; }
        .materials__item:nth-child(6n+4) .item__text {
          color: #fff; }
          .materials__item:nth-child(6n+4) .item__text h4 {
            color: #fff; } }
  .materials__more {
    text-align: center;
    margin-top: 20px; }
    .materials__more a {
      display: inline-block;
      vertical-align: top;
      padding-top: 35px;
      position: relative;
      color: #999;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none; }
      @media only screen and (min-width: 86.4375em) {
        .materials__more a {
          font-size: 24px;
          padding-top: 60px; } }
      .materials__more a:before {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        list-style: none;
        box-shadow: none;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        display: block;
        float: none;
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        left: 50%;
        margin-left: -14px;
        background: url(../img/icon-refresh-gray.png) 0 0 no-repeat;
        background-size: 100%; }
        @media only screen and (min-width: 86.4375em) {
          .materials__more a:before {
            margin-left: -20px;
            width: 40px;
            height: 40px; } }

.contacts__item {
  margin-top: 24px; }
  @media only screen and (min-width: 86.4375em) {
    .contacts__item {
      margin-top: 38px; } }
  .contacts__item:first-child {
    margin-top: 0; }
  .contacts__item .item__title h3 {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    color: #333;
    font-family: "MyriadPro", sans-serif;
    font-size: 20px;
    line-height: 22px; }
    @media only screen and (min-width: 86.4375em) {
      .contacts__item .item__title h3 {
        font-size: 26px;
        line-height: 26px; } }
  .contacts__item .item__info {
    margin-top: 7px;
    font-size: 14px;
    line-height: 16px; }
    @media only screen and (min-width: 86.4375em) {
      .contacts__item .item__info {
        margin-top: 9px;
        font-size: 18px;
        line-height: 22px; } }
    .contacts__item .item__info a {
      color: #333; }
  .contacts__item .item__map {
    margin-top: 9px; }
    @media only screen and (min-width: 86.4375em) {
      .contacts__item .item__map {
        margin-top: 18px; } }

.bottom {
  overflow: hidden;
  margin-top: 15px;
  background: #333333;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #fff; }
  @media only screen and (min-width: 64.0625em) {
    .bottom {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 86.4375em) {
    .bottom {
      padding-top: 44px;
      padding-bottom: 47px; } }
  .bottom a {
    color: #fff; }
  .bottom__banner {
    margin-right: -15px;
    position: relative;
    margin-top: -35px; }
    @media only screen and (min-width: 86.4375em) {
      .bottom__banner {
        margin-top: -44px; } }
    .bottom__banner img {
      position: absolute;
      top: 0;
      left: 0; }

.addresses__title h3 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  list-style: none;
  box-shadow: none;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  display: block;
  float: none;
  color: #FFF;
  font-family: "MyriadPro", sans-serif;
  font-size: 24px;
  line-height: 26px; }
  @media only screen and (min-width: 86.4375em) {
    .addresses__title h3 {
      font-size: 42px;
      line-height: 42px; } }

.addresses__list {
  margin-top: 24px; }
  @media only screen and (min-width: 86.4375em) {
    .addresses__list {
      margin-top: 36px; } }
  .addresses__list #city-2 {
    display: none; }
    @media only screen and (min-width: 48.0625em) {
      .addresses__list #city-2 {
        display: block; } }

@media only screen and (min-width: 48.0625em) {
  .addresses__item {
    display: block !important; } }

.addresses__item .item__switcher {
  display: block;
  margin-top: 5px;
  color: #999999; }
  @media only screen and (min-width: 30.0625em) {
    .addresses__item .item__switcher {
      display: inline;
      margin-left: 50px; } }
  @media only screen and (min-width: 48.0625em) {
    .addresses__item .item__switcher {
      display: none; } }

.addresses__item .item__title h4 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  list-style: none;
  box-shadow: none;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  display: block;
  float: none;
  color: #FFF;
  font-family: "MyriadPro", sans-serif;
  font-size: 20px;
  line-height: 22px; }
  @media only screen and (min-width: 86.4375em) {
    .addresses__item .item__title h4 {
      font-size: 26px;
      line-height: 26px; } }

.addresses__item .item__info {
  margin-top: 19px;
  font-size: 12px;
  line-height: 14px; }
  @media only screen and (min-width: 86.4375em) {
    .addresses__item .item__info {
      margin-top: 27px;
      font-size: 18px;
      line-height: 20px; } }

.addresses__item .item__map {
  margin-top: 25px; }
  @media only screen and (min-width: 86.4375em) {
    .addresses__item .item__map {
      margin-top: 39px; } }

.sidebar-news__title h3 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  list-style: none;
  box-shadow: none;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  display: block;
  float: none;
  color: #8D0D0B;
  font-family: "MyriadPro", sans-serif;
  font-size: 28px;
  line-height: 30px;
  margin-top: 19px; }
  @media only screen and (min-width: 86.4375em) {
    .sidebar-news__title h3 {
      font-size: 44px;
      line-height: 48px;
      margin-top: 22px; } }

.sidebar-news__list {
  overflow: hidden;
  margin: 20px -15px 0 -15px; }
  .sidebar-news__list:before,
  .sidebar-news__list:after {
    content: " ";
    display: table; }
  .sidebar-news__list:after {
    clear: both; }
  @media only screen and (min-width: 64.0625em) {
    .sidebar-news__list {
      margin: 20px -15px 0 0; } }
  @media only screen and (min-width: 86.4375em) {
    .sidebar-news__list {
      margin-top: 26px; } }

.sidebar-news__item {
  float: left;
  width: 50%;
  padding: 0 15px;
  position: relative; }
  @media only screen and (min-width: 30.0625em) {
    .sidebar-news__item {
      width: 33%; } }
  @media only screen and (min-width: 48.0625em) {
    .sidebar-news__item {
      width: 25%; } }
  .sidebar-news__item:before {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    content: "";
    position: absolute;
    border-left: 1px solid #ccc;
    left: -1px;
    top: 0;
    height: 300px; }
  .sidebar-news__item:first-child:before {
    display: none; }
  .sidebar-news__item:nth-child(n+3) {
    display: none; }
    @media only screen and (min-width: 30.0625em) {
      .sidebar-news__item:nth-child(n+3) {
        display: block; } }
  @media only screen and (min-width: 30.0625em) {
    .sidebar-news__item:nth-child(n+4) {
      display: none; } }
  @media only screen and (min-width: 48.0625em) {
    .sidebar-news__item:nth-child(n+4) {
      display: block; } }
  @media only screen and (min-width: 48.0625em) {
    .sidebar-news__item:nth-child(n+5) {
      display: none; } }
  @media only screen and (min-width: 64.0625em) {
    .sidebar-news__item:nth-child(n+5) {
      display: block; } }
  @media only screen and (min-width: 64.0625em) {
    .sidebar-news__item {
      padding: 0;
      padding-right: 15px;
      margin-top: 10px;
      padding-top: 15px;
      border-top: 1px solid #ccc;
      float: none;
      width: 100%; } }
  @media only screen and (min-width: 86.4375em) {
    .sidebar-news__item {
      margin-top: 18px;
      padding-top: 24px; } }
  .sidebar-news__item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none; }
  .sidebar-news__item .item__title {
    font-size: 12px;
    line-height: 16px; }
    @media only screen and (min-width: 86.4375em) {
      .sidebar-news__item .item__title {
        font-size: 18px;
        line-height: 22px; } }
    .sidebar-news__item .item__title a {
      color: #333;
      text-decoration: none; }
  .sidebar-news__item .item__date {
    margin-top: 4px;
    font-size: 11px;
    color: #666; }
    @media only screen and (min-width: 86.4375em) {
      .sidebar-news__item .item__date {
        margin-top: 8px;
        font-size: 16px; } }

@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .manufacturers__list .columns:nth-child(2n+1) {
    clear: left; } }

.manufacturers__item {
  margin-bottom: 30px; }
  .manufacturers__item .item__title h4 {
    font-family: "MyriadPro", sans-serif;
    color: #333;
    font-size: 18px; }
    @media only screen and (min-width: 86.4375em) {
      .manufacturers__item .item__title h4 {
        font-size: 24px; } }
  .manufacturers__item .item__list ul {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none; }
    .manufacturers__item .item__list ul > * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: block;
      float: none; }
    .manufacturers__item .item__list ul li {
      font-size: 12px;
      margin-bottom: 10px; }
      @media only screen and (min-width: 86.4375em) {
        .manufacturers__item .item__list ul li {
          font-size: 16px; } }
  .manufacturers__item .item__more a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dashed #333; }
    @media only screen and (min-width: 86.4375em) {
      .manufacturers__item .item__more a {
        font-size: 16px; } }
    .manufacturers__item .item__more a:hover {
      border-color: transparent; }

.article {
  font-size: 12px;
  line-height: 18px; }
  @media only screen and (min-width: 86.4375em) {
    .article {
      font-size: 16px;
      line-height: 24px; } }
  .article__image {
    position: relative;
    margin-right: -15px;
    margin-left: -15px; }
    @media only screen and (min-width: 64.0625em) {
      .article__image {
        margin-right: 0; } }
  .article__info {
    position: absolute;
    left: 15px;
    top: 10px; }
  .article__title h1 {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    color: #FFF;
    font-family: "MyriadPro", sans-serif;
    font-size: 28px;
    line-height: 30px;
    margin-top: 19px; }
    @media only screen and (min-width: 86.4375em) {
      .article__title h1 {
        font-size: 44px;
        line-height: 48px; } }
  .article__category {
    margin-top: 25px; }
    .article__category a {
      display: inline-block;
      background: #fff;
      padding: 3px 14px;
      color: #333;
      text-decoration: none; }
      @media only screen and (min-width: 86.4375em) {
        .article__category a {
          font-size: 18px; } }
  .article__text {
    margin-top: 20px; }
  .article__date {
    margin-top: 20px;
    color: #666;
    font-style: italic; }

.same__title h3 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  list-style: none;
  box-shadow: none;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  display: block;
  float: none;
  color: #FFF;
  font-family: "MyriadPro", sans-serif;
  font-size: 24px;
  line-height: 26px; }
  @media only screen and (min-width: 86.4375em) {
    .same__title h3 {
      font-size: 42px;
      line-height: 42px; } }

.same__list {
  margin-top: 24px; }
  @media only screen and (min-width: 86.4375em) {
    .same__list {
      margin-top: 36px; } }

.same__item .item a {
  color: #fff; }

.same__item .item__category {
  margin-top: 16px; }
  .same__item .item__category a {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 1px 12px;
    text-decoration: none; }
    @media only screen and (min-width: 86.4375em) {
      .same__item .item__category a {
        font-size: 18px;
        line-height: 18px;
        border-width: 2px;
        padding: 4px 16px; } }

.same__item .item__text {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 14px; }
  @media only screen and (min-width: 86.4375em) {
    .same__item .item__text {
      margin-top: 18px;
      font-size: 16px;
      line-height: 20px; } }
  .same__item .item__text img {
    display: block;
    margin-bottom: 20px; }
    @media only screen and (min-width: 86.4375em) {
      .same__item .item__text img {
        margin-bottom: 30px; } }
  .same__item .item__text h4 {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    list-style: none;
    box-shadow: none;
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    display: block;
    float: none;
    color: #fff;
    font-family: "MyriadPro", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media only screen and (min-width: 86.4375em) {
      .same__item .item__text h4 {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 18px; } }

.articles .slider {
  margin: 0 -15px; }
  @media only screen and (min-width: 48.0625em) {
    .articles .slider {
      margin: 0 0 0 -15px; } }
  @media only screen and (min-width: 86.4375em) {
    .articles .slider {
      margin: 0; } }
  .articles .slider__item .item__image {
    max-height: inherit; }

.articles__list .columns:nth-child(2n+1) {
  clear: left; }

.articles__item {
  margin-top: 20px; }
  @media only screen and (min-width: 86.4375em) {
    .articles__item {
      margin-top: 50px; } }
  .articles__item .item {
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    line-height: 14px; }
    @media only screen and (min-width: 86.4375em) {
      .articles__item .item {
        margin-top: 18px;
        font-size: 16px;
        line-height: 20px; } }
    .articles__item .item img {
      display: block;
      margin-bottom: 20px; }
      @media only screen and (min-width: 86.4375em) {
        .articles__item .item img {
          margin-bottom: 30px; } }
    .articles__item .item h4 {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      list-style: none;
      box-shadow: none;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      display: block;
      float: none;
      color: #8D0D0B;
      font-family: "MyriadPro", sans-serif;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 12px; }
      @media only screen and (min-width: 86.4375em) {
        .articles__item .item h4 {
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 18px; } }

.pagination {
  margin-top: 30px;
  font-size: 12px; }
  @media only screen and (min-width: 86.4375em) {
    .pagination {
      font-size: 16px; } }
  .pagination a {
    padding: 3px 5px;
    margin: 0 3px;
    color: #333; }
    .pagination a.active {
      background: #901337;
      color: #fff;
      text-decoration: none; }

@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .vacancies__list .columns:nth-child(2n+1) {
    clear: left; } }

@media only screen and (min-width: 48.0625em) {
  .vacancies__list .columns:nth-child(3n+1) {
    clear: left; } }

.vacancies__item {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 16px; }
  @media only screen and (min-width: 86.4375em) {
    .vacancies__item {
      font-size: 16px;
      line-height: 24px; } }
  .vacancies__item .item h4 {
    font-size: 16px;
    line-height: 22px; }
    @media only screen and (min-width: 86.4375em) {
      .vacancies__item .item h4 {
        font-size: 22px;
        line-height: 28px; } }
  .vacancies__item .item h5 {
    font-size: 14px;
    margin-bottom: 0; }
    @media only screen and (min-width: 86.4375em) {
      .vacancies__item .item h5 {
        font-size: 18px;
        line-height: 24px; } }

.vacancy {
  font-size: 12px;
  line-height: 16px; }
  @media only screen and (min-width: 86.4375em) {
    .vacancy {
      font-size: 16px;
      line-height: 24px; } }
  .vacancy h4 {
    font-size: 16px;
    line-height: 22px; }
    @media only screen and (min-width: 86.4375em) {
      .vacancy h4 {
        font-size: 22px;
        line-height: 28px; } }
  .vacancy h5 {
    font-size: 14px;
    margin-bottom: 0; }
    @media only screen and (min-width: 86.4375em) {
      .vacancy h5 {
        font-size: 18px;
        line-height: 24px; } }
