@import "settings";
@import "mixins";

body {
	background: #fff;
	color: #333;

	// @media #{$small-only} {

	// 	&:before {
	// 		@include null-pseudo;
	// 		position: fixed;
	// 		bottom: 0;
	// 		left: 0;
	// 		z-index: 9999;
	// 		content: "small < 480";
	// 	}
	// }

	// @media #{$medium-only} {

	// 	&:before {
	// 		@include null-pseudo;
	// 		position: fixed;
	// 		bottom: 0;
	// 		left: 0;
	// 		z-index: 9999;
	// 		content: "480 < medium < 768";
	// 	}
	// }

	// @media #{$large-only} {

	// 	&:before {
	// 		@include null-pseudo;
	// 		position: fixed;
	// 		bottom: 0;
	// 		left: 0;
	// 		z-index: 9999;
	// 		content: "768 < large < 1024";
	// 	}
	// }

	// @media #{$xlarge-only} {

	// 	&:before {
	// 		@include null-pseudo;
	// 		position: fixed;
	// 		bottom: 0;
	// 		left: 0;
	// 		z-index: 9999;
	// 		content: "1024 < xlarge < 1382";
	// 	}
	// }
}

a {
	text-decoration: underline;
	color: #8d0d0b;

	&:hover {
		color: #8d0d0b;
		text-decoration: none;
		opacity: .8;
	}
}

h1 {
	@include null-block;
	color: #8D0D0B;
	font-family: $body-font-family;
	font-size: 28px;
	line-height: 30px;
	margin-top: 19px;
	margin-bottom: 16px;

	@media #{$xxlarge-up} {
		font-size: 44px;
		line-height: 48px;
		margin-top: 22px;
		margin-bottom: 23px;
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 20px;
	margin-right: 4px;
	position: relative;
	top: -3px;
	background-position: 0 50%;
	background-repeat: no-repeat;

	&--store {
		background-image: url(../img/icon-store-white.png);
	}

	&--card {
		background-image: url(../img/icon-card-white.png);
	}

	&--address {
		background-image: url(../img/icon-address-white.png);
	}

	&--phone {
		background-image: url(../img/icon-phone-white.png);
	}

	&--email {
		background-image: url(../img/icon-email-white.png);
	}
}

.page {
	overflow: hidden;
}

.header {
	border-bottom: 6px solid #8d0d0b;

	.icon {

		@media #{$large-up} {
			width: 18px;
			height: 17px;
			top: -3px;
			background-size: 100% 100%;
		}
	}

	&__search {
		float: right;
		margin-top: 11px;
		margin-right: 15px;
		width: 96px;
		position: relative;
		z-index: 1;

		@media #{$large-up} {
			width: 70px;
			margin-top: 13px;
			margin-left: 20px;
		}

		@media #{$xlarge-up} {
			width: 89px;
			margin-top: 20px;
		}

		@media #{$xxlarge-up} {
			margin-top: 24px;
			margin-left: 66px;
		}

		form {
			@include null-block;
			position: absolute;
			top: 0;
			right: 0;
			padding-right: 20px;
			padding-top: 10px;
			background: #333333;

			&:before {
				@include null-pseudo;
				top: 0;
				bottom: 0;
				right: 100%;
				width: 20px;
				background: linear-gradient(to right, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
			}

			input[type="text"] {
				@include null-block;
				cursor: pointer;
				width: 76px;
				padding-left: 5px;
				padding-right: 5px;
				color: #FFF;
				font-family: $body-font-family;
				font-size: 22px;
				font-weight: normal;
				text-overflow: ellipsis;
				border-bottom: 1px solid transparent;
				transition: all .2s ease-out .1s;

				@media #{$large-up} {
					width: 50px;
					font-size: 14px;
				}

				@media #{$xlarge-up} {
					width: 69px;
					font-size: 18px;
				}

				&:focus {
					width: 250px;
					border-bottom: 1px solid #FFF;
				}

				@include placeholder {
					color: #FFF;
					font-family: $body-font-family;
					font-size: 22px;
					font-weight: normal;
				}

				@media #{$large-up} {

					@include placeholder {
						font-size: 14px;
					}
				}

				@media #{$xlarge-up} {

					@include placeholder {
						font-size: 18px;
					}
				}
			}

			button {
				@include null-block;
				@include img-replace;
				position: absolute;
				top: 10px;
				right: 0;
				width: 17px;
				height: 17px;
				background: url(../img/icon-loupe-white.png) 0 0 no-repeat;

				@media #{$large-up} {
					background-size: 70% 70%;
				}

				@media #{$xlarge-up} {
					background-size: 90% 90%;
				}

				@media #{$xxlarge-up} {
					background-size: 100% 100%;
				}
			}
		}
	}

	.top-bar {
		height: 62px;

		@media #{$large-up} {
			height: auto;
		}

		&.expanded {
			height: auto;
			background: #333333;
		}

		.title-area {
			float: left;
			margin-top: 7px;

			@media #{$large-up} {
				width: 108px;
			}

			@media #{$xlarge-up} {
				margin-top: 16px;
				width: 141px;
			}

			@media #{$xxlarge-up} {
				margin-top: 19px;
				width: 160px;
			}

			.name {
				height: auto;

				a {
					width: 72%;

					@media #{$large-up} {
						width: 100%;
						padding-right: 0;
					}
				}
			}
		}

		.toggle-topbar.menu-icon a {
			height: 35px;
			width: 35px;
			overflow: hidden;
			line-height: 34px;
			padding: 0;
			border: 3px solid #fff;
			right: 16px;
			top: -2px;

			span::after {
				box-shadow: 0 0 0 2px #FFFFFF, 0 7px 0 2px #FFFFFF, 0 14px 0 2px #FFFFFF;
				width: 19px;
				left: 5px;
				margin-top: -7px;
			}
		}

		.top-bar-section {
			float: none;
			margin-top: 60px;

			@media #{$large-up} {
				float: right;
				margin-top: 2px;
				height: auto;
			}

			.label {
				color: #FFF;
				font-family: $body-font-family;
				font-size: 16px;
				font-weight: 400;
				background: #8d0d0b;
				vertical-align: middle;
				padding: 5px 7px 2px 7px;
				margin-top: -4px;
				margin-right: 5px;

				@media #{$large-up} {
					font-size: 12px;
				}

				@media #{$xlarge-up} {
					font-size: 16px;
				}

				@media #{$xxlarge-up} {
					font-size: 18px;
				}
			}

			& > ul {

				a {
					text-decoration: none;

					&:hover {
						opacity: 1;
					}
				}

				& > li {

					@media #{$xxlarge-up} {
						margin-left: 15px;
					}

					&:hover {
						cursor: pointer;

						&,
						a {

							@media #{$large-up} {
								background: #8d0d0b;
							}
						}
					}

					& > a {
						padding-left: 20px;
						color: #FFF;
						font-family: $body-font-family;
						font-size: 19px;
						font-weight: normal;

						@media #{$large-up} {
							font-size: 14px;
							font-weight: bold;
							padding-bottom: 12px;
							padding-top: 18px;
							line-height: 24px;
							padding-left: 7px;
							padding-right: 7px;
						}

						@media #{$xlarge-up} {
							font-weight: normal;
							font-size: 19px;
							padding-bottom: 21px;
							padding-top: 29px;
							line-height: 24px;
							padding-left: 19px;
							padding-right: 19px;
						}

						@media #{$xxlarge-up} {
							font-size: 22px;
							letter-spacing: 1px;
							padding-bottom: 25px;
							padding-top: 36px;
							padding-left: 20px;
							padding-right: 20px;
						}

						&:hover {

							.label {

								@media #{$large-up} {
									background: #fff;
									color: #8d0d0b;
								}
							}
						}
					}

					&.active:not(.has-form) > a:not(.button) {
						background: #8d0d0b;
						font-weight: normal;

						@media #{$large-up} {
							padding-bottom: 25px;
							padding-top: 31px;
							line-height: 24px;
						}

						@media #{$xlarge-up} {
							padding-bottom: 21px;
							padding-top: 29px;
						}

						@media #{$xxlarge-up} {
							padding-bottom: 25px;
							padding-top: 36px;
						}
					}

					ul {

						@media #{$large-up} {
							margin-top: -10px;
						}

						@media #{$xlarge-up} {
							margin-top: -20px;
							padding-bottom: 10px;
							background: #8d0d0b;
						}

						li {

							@media #{$large-up} {
								background: #8d0d0b;
								padding-top: 4px;
								padding-bottom: 4px;
							}

							@media #{$xlarge-up} {
								padding-top: 8px;
								padding-bottom: 8px;
							}

							a {
								color: #FFF;
								font-family: $body-font-family;
								font-size: 22px;
								letter-spacing: 1px;

								@media #{$large-up} {
									text-decoration: underline;
									letter-spacing: 0;
									font-size: 14px;
									padding-left: 20px;
								}

								&:hover {

									@media #{$large-up} {
										text-decoration: none;
									}
								}
							}

							&:not(.has-form):not(.active) > a:not(.button) {

								@media #{$large-up} {
									background: #8d0d0b;
									line-height: 18px;
									padding-left: 12px;
								}

								@media #{$xlarge-up} {
									padding-left: 22px;
								}

								@media #{$xxlarge-up} {
									padding-left: 32px;
								}
							}
						}
					}
				}
			}

			.has-dropdown > a {

				@media #{$large-up} {
					padding-right: 30px !important;
				}

				&:after {

					@media #{$large-up} {
						@include null-pseudo;
						border: 4px solid transparent;
						border-top-color: #fff;
						margin-top: -1px;
						top: 50%;
						right: 14px;
					}
				}
			}
		}
	}

	.title.back.js-generated h5 a {
		background: #333333;
	}

	.parent-link {
		display: none !important;
	}
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #8d0d0b;
	color: #fff;

	a {
		color: #fff;
	}

	.columns {
		font-size: 12px;
		line-height: 18px;

		@media #{$large-up} {
			line-height: 24px;
		}

		@media #{$xlarge-up} {
			font-size: 14px;
		}
	}

	&__logo {
		margin-top: 6px;
	}

	&__social {
		margin-top: 10px;

		ul {
			@include null-inline-list;
			text-align: right;

			li {
				margin-left: 5px;
				margin-bottom: 5px;

				@media #{$large-up} {
					margin-left: 10px;
				}

				&:first-child {
					margin-left: 0;
				}

				a {
					@include img-replace;
					display: block;
					width: 26px;
					height: 26px;
					background-image: url(../img/social-sprite.png);
					background-repeat: no-repeat;
					background-size: 114px;

					@media #{$large-up} {
						background-size: 165px;
						width: 37px;
						height: 37px;
					}

					@media #{$xxlarge-up} {
						background-size: auto;
						width: 49px;
						height: 49px;
					}
				}
			}
		}

		&--fb a {
			background-position: 0 0;
		}

		&--vk a {
			background-position: -29px 0;

			@media #{$large-up} {
				background-position: -42px 0;
			}

			@media #{$xxlarge-up} {
				background-position: -58px 0;
			}
		}

		&--tw a {
			background-position: -58px 0;

			@media #{$large-up} {
				background-position: -85px 0;
			}

			@media #{$xxlarge-up} {
				background-position: -118px 0;
			}
		}

		&--in a {
			background-position: -89px 0;

			@media #{$large-up} {
				background-position: -129px 0;
			}

			@media #{$xxlarge-up} {
				background-position: -118px 0;
			}
		}
	}
}

.content {}

.latest {
	margin-top: 5px;
	max-height: 370px;

	@media #{$xlarge-up} {
		margin-top: 0;
	}

	@media #{$xxlarge-up} {
		margin-left: -15px;
	}

	&__title {

		h3 {
			@include null-block;
			color: #8d0d0b;
			font-family: $body-font-family;
			font-size: 22px;
			white-space: nowrap;

			@media #{$xlarge-up} {
				position: absolute;
				left: 12.5%;
				top: 12px;
			}

			@media #{$xxlarge-up} {
				top: 18px;
				font-size: 28px;
			}
		}
	}

	&__list {

		@media #{$large-up} {
			position: static !important;
		}

		.slick-dots {
			@include null-inline-list;
			margin-top: 7px;

			@media #{$medium-up} {
				margin-top: 0;
				position: absolute;
				text-align: center;
				height: auto;
				top: 50%;
				margin-top: -3px;
				right: 0;
			}

			@media #{$large-up} {
				margin-top: 0;
				position: absolute;
				text-align: center;
				height: auto;
				top: auto;
				margin-top: 0;
				left: 9%;
				right: auto;
				bottom: 10px;
			}

			@media #{$xxlarge-up} {
				left: 7%;
			}

			li {
				margin: 0 2px;
				position: relative;
				z-index: 1;

				@media #{$xxlarge-up} {
					margin: 0 4px;
				}

				button {
					@include null-block;
					@include img-replace;
					border-radius: 50%;
					width: 10px;
					height: 10px;
					background: rgba(255, 255, 255, 0.8);
					border: 1px solid #bfbfbf;
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

					@media #{$xxlarge-up} {
						width: 14px;
						height: 14px;
					}

					&:before {
						display: none;
					}
				}

				&.slick-active {

					button {
						background: #8D0D0B;
					}
				}
			}
		}
	}

	&__item {
		outline: none;

		.item {

			&__image {
				max-height: 360px;
				overflow: hidden;

				@media #{$xlarge-up} {
					margin-right: -15px;
				}
			}

			&__title {
				line-height: 18px;
				padding-right: 75px;

				@media #{$medium-up} {
					margin-top: 5px;
				}

				@media #{$large-up} {
					padding-right: 0;
				}

				@media #{$xlarge-up} {
					margin-top: 48px;
					line-height: 20px;
				}

				@media #{$xxlarge-up} {
					margin-top: 70px;
					line-height: 26px;
					padding-right: 20px;
				}

				a {
					color: #333;
					font-family: $body-font-family;
					font-size: 14px;

					@media #{$xlarge-up} {
						font-size: 16px;
					}

					@media #{$xxlarge-up} {
						font-size: 20px;
					}
				}
			}
		}
	}
}

.slider {
	margin: 7px -15px 0 -15px;

	@media #{$large-up} {
		margin: 0 -10px;
	}

	@media #{$xxlarge-up} {
		margin: 0 -30px;
	}

	&__list {

		.slick-dots {
			@include null-inline-list;
			position: absolute;
			text-align: center;
			height: auto;
			bottom: 10px;
			left: 0;
			right: 0;

			li {
				margin: 0 2px;
				position: relative;
				z-index: 1;

				@media #{$xxlarge-up} {
					margin: 0 4px;
				}

				button {
					@include null-block;
					@include img-replace;
					border-radius: 50%;
					width: 10px;
					height: 10px;
					background: rgba(255, 255, 255, 0.8);
					border: 1px solid #bfbfbf;
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

					@media #{$xxlarge-up} {
						width: 14px;
						height: 14px;
					}

					&:before {
						display: none;
					}
				}

				&.slick-active {

					button {
						background: #8D0D0B;
					}
				}
			}
		}
	}

	&__item {
		outline: none;

		.item {

			&__image {
				max-height: 360px;
				overflow: hidden;

				img {
					display: block;
				}
			}
		}
	}
}

.fact {
	margin-top: 16px;

	@media #{$large-up} {
		margin-top: 5px;
	}

	@media #{$xxlarge-up} {
		margin-right: -15px;
		padding-left: 30px;
		margin-top: 16px;
	}

	&__title {

		h3 {
			@include null-block;
			color: #8d0d0b;
			font-family: $body-font-family;
			font-size: 22px;
			white-space: nowrap;

			@media #{$xxlarge-up} {
				margin-left: 40px;
				font-size: 28px;
			}
		}
	}

	&__text {
		color: #333;
		font-family: $body-font-family;
		font-size: 11px;
		font-style: italic;
		line-height: 14px;

		@media #{$large-up} {
			margin-top: 7px;
		}

		@media #{$xxlarge-up} {
			margin-top: 15px;
			font-size: 16px;
			line-height: 20px;
		}

		img {
			display: none;
			margin-bottom: 15px;

			@media #{$xlarge-up} {
				display: block;
			}
		}
	}
}

.home {

	@media #{$large-up} {
		position: relative;
	}

	.columns {
		position: static;
	}
}

.materials {
	padding-bottom: 30px;

	@media #{$large-up} {
		padding-left: 27px;
	}

	&__head {
		@include null-grid;
		margin-bottom: -20px;
	}

	&__title {
		display: table-cell;
		width: 1%;

		h1 {
			color: #333;
			padding-right: 20px;
		}
	}

	&__categories {
		display: table-cell;
		vertical-align: middle;
		color: #8d0d0b;
		font-size: 12px;

		@media #{$medium-up} {
			font-size: 16px;
		}
	}

	&__list {
		@include null-inline-list;
	}

	&__item {
		margin-top: 20px;
		width: 29%;
		padding-right: 30px;

		@media #{$small-only} {
			width: 100%;
			padding-right: 0;
		}

		@media #{$xxlarge-up} {
			margin-top: 50px;
		}

		&:nth-child(6n+1) {

			@media #{$medium-only} {
				width: 50%;
			}

			@media #{$large-only} {
				width: 44%;
			}
		}

		&:nth-child(6n+2) {

			@media #{$medium-only} {
				width: 50%;
				padding-right: 0;
			}

			@media #{$large-only} {
				width: 56%;
				padding-right: 0;
			}
		}

		&:nth-child(6n+3) {

			@media #{$medium-only} {
				width: auto;
			}

			@media #{$large-only} {
				width: auto;
			}

			@media #{$xlarge-up} {
				width: 42%;
			}
		}

		&:nth-child(6n+4) {

			@media #{$medium-only} {
				width: 50%;
			}

			@media #{$large-only} {
				width: 44%;
			}

			@media #{$xlarge-up} {
				width: 49%;
				padding-right: 15px;
				padding-bottom: 30px;
			}
		}

		&:nth-child(6n+5) {

			@media #{$medium-only} {
				width: 50%;
				padding-right: 0;
			}

			@media #{$large-only} {
				width: 56%;
				padding-right: 0;
			}

			@media #{$xlarge-up} {
				width: 32%;
				padding-left: 30px;
			}
		}

		&:nth-child(6n+6) {

			@media #{$medium-only} {
				width: auto;
			}

			@media #{$large-only} {
				width: auto;
			}

			@media #{$xlarge-up} {
				width: 21%;
			}
		}

		.item {

			&__category {
				margin-top: 16px;

				a {
					display: inline-block;
					vertical-align: top;
					color: #8D0D0B;
					font-size: 12px;
					line-height: 16px;
					font-weight: bold;
					border: 1px solid #8D0D0B;
					padding: 1px 12px;;
					text-decoration: none;

					@media #{$xxlarge-up} {
						font-size: 18px;
						line-height: 18px;
						border-width: 2px;
						padding: 4px 16px;
					}
				}
			}

			&__text {
				margin-top: 10px;
				color: #333;
				font-size: 12px;
				line-height: 14px;

				@media #{$xxlarge-up} {
					margin-top: 18px;
					font-size: 16px;
					line-height: 20px;
				}

				img {
					display: block;
					margin-bottom: 20px;

					@media #{$xxlarge-up} {
						margin-bottom: 30px;
					}
				}

				h4 {
					@include null-block;
					color: #8D0D0B;
					font-family: $body-font-family;
					font-size: 20px;
					line-height: 24px;
					margin-bottom: 12px;

					@media #{$xxlarge-up} {
						font-size: 26px;
						line-height: 34px;
						margin-bottom: 18px;
					}
				}
			}
		}

		&:nth-child(6n+3),
		&:nth-child(6n+6) {

			@media #{$medium-only} {
				background: #333;
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 20px;

				.item {

					a {
						color: #fff;
					}

					&__category {

						a {
							border-color: #fff;
							color: #fff;
						}
					}

					&__text {
						color: #fff;

						h4 {
							color: #fff;
						}
					}
				}
			}

			@media #{$large-only} {
				background: #333;
				margin-left: -42px;
				margin-right: -15px;
				padding-left: 42px;
				padding-right: 15px;
				padding-bottom: 20px;

				.item {

					a {
						color: #fff;
					}

					&__category {

						a {
							border-color: #fff;
							color: #fff;
						}
					}

					&__text {
						color: #fff;

						h4 {
							color: #fff;
						}
					}
				}
			}
		}

		&:nth-child(6n+4) {

			@media #{$xlarge-up} {
				background: #333;
				margin-left: -37px;
				padding-left: 37px;
				padding-bottom: 20px;

				.item {

					a {
						color: #fff;
					}

					&__category {

						a {
							border-color: #fff;
							color: #fff;
						}
					}

					&__text {
						color: #fff;

						h4 {
							color: #fff;
						}
					}
				}
			}
		}
	}

	&__more {
		text-align: center;
		margin-top: 20px;

		a {
			display: inline-block;
			vertical-align: top;
			padding-top: 35px;
			position: relative;
			color: #999;
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;

			@media #{$xxlarge-up} {
				font-size: 24px;
				padding-top: 60px;
			}

			&:before {
				@include null-pseudo;
				width: 28px;
				height: 28px;
				top: 0;
				left: 50%;
				margin-left: -14px;
				background: url(../img/icon-refresh-gray.png) 0 0 no-repeat;
				background-size: 100%;

				@media #{$xxlarge-up} {
					margin-left: -20px;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

.contacts {

	&__list {}

	&__item {
		margin-top: 24px;

		@media #{$xxlarge-up} {
			margin-top: 38px;
		}

		&:first-child {
			margin-top: 0;
		}

		.item {

			&__title {

				h3 {
					@include null-block;
					color: #333;
					font-family: $body-font-family;
					font-size: 20px;
					line-height: 22px;

					@media #{$xxlarge-up} {
						font-size: 26px;
						line-height: 26px;
					}
				}
			}

			&__info {
				margin-top: 7px;
				font-size: 14px;
				line-height: 16px;

				@media #{$xxlarge-up} {
					margin-top: 9px;
					font-size: 18px;
					line-height: 22px;
				}

				a {
					color: #333;
				}
			}

			&__map {
				margin-top: 9px;

				@media #{$xxlarge-up} {
					margin-top: 18px;
				}
			}
		}
	}
}

.bottom {
	overflow: hidden;
	margin-top: 15px;
	background: #333333;
	padding-top: 35px;
	padding-bottom: 35px;
	color: #fff;

	@media #{$xlarge-up} {
		margin-bottom: 20px;
	}

	@media #{$xxlarge-up} {
		padding-top: 44px;
		padding-bottom: 47px;
	}

	a {
		color: #fff;
	}

	&__banner {
		margin-right: -15px;
		position: relative;
		margin-top: -35px;

		@media #{$xxlarge-up} {
			margin-top: -44px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.addresses {

	&__title {

		h3 {
			@include null-block;
			color: #FFF;
			font-family: $body-font-family;
			font-size: 24px;
			line-height: 26px;

			@media #{$xxlarge-up} {
				font-size: 42px;
				line-height: 42px;
			}
		}
	}

	&__list {
		margin-top: 24px;

		@media #{$xxlarge-up} {
			margin-top: 36px;
		}

		#city-2 {
			display: none;

			@media #{$large-up} {
				display: block;
			}
		}
	}

	&__item {

		@media #{$large-up} {
			display: block !important;
		}

		.item {

			&__switcher {
				display: block;
				margin-top: 5px;
				color: #999999;

				@media #{$medium-up} {
					display: inline;
					margin-left: 50px;
				}

				@media #{$large-up} {
					display: none;
				}
			}

			&__title {

				h4 {
					@include null-block;
					color: #FFF;
					font-family: $body-font-family;
					font-size: 20px;
					line-height: 22px;

					@media #{$xxlarge-up} {
						font-size: 26px;
						line-height: 26px;
					}
				}
			}

			&__info {
				margin-top: 19px;
				font-size: 12px;
				line-height: 14px;

				@media #{$xxlarge-up} {
					margin-top: 27px;
					font-size: 18px;
					line-height: 20px;
				}
			}

			&__map {
				margin-top: 25px;

				@media #{$xxlarge-up} {
					margin-top: 39px;
				}
			}
		}
	}
}

.sidebar-news {

	&__title {

		h3 {
			@include null-block;
			color: #8D0D0B;
			font-family: $body-font-family;
			font-size: 28px;
			line-height: 30px;
			margin-top: 19px;

			@media #{$xxlarge-up} {
				font-size: 44px;
				line-height: 48px;
				margin-top: 22px;
			}
		}
	}

	&__list {
		@include clearfix;
		overflow: hidden;
		margin: 20px -15px 0 -15px;

		@media #{$xlarge-up} {
			margin: 20px -15px 0 0;
		}

		@media #{$xxlarge-up} {
			margin-top: 26px;
		}
	}

	&__item {
		float: left;
		width: 50%;
		padding: 0 15px;
		position: relative;

		@media #{$medium-up} {
			width: 33%;
		}

		@media #{$large-up} {
			width: 25%;
		}

		&:before {
			@include null-pseudo;
			border-left: 1px solid #ccc;
			left: -1px;
			top: 0;
			height: 300px;
		}

		&:first-child {

			&:before {
				display: none;
			}
		}

		&:nth-child(n+3) {
			display: none;

			@media #{$medium-up} {
				display: block;
			}
		}

		&:nth-child(n+4) {

			@media #{$medium-up} {
				display: none;
			}

			@media #{$large-up} {
				display: block;
			}
		}

		&:nth-child(n+5) {

			@media #{$large-up} {
				display: none;
			}

			@media #{$xlarge-up} {
				display: block;
			}
		}

		@media #{$xlarge-up} {
			padding: 0;
			padding-right: 15px;
			margin-top: 10px;
			padding-top: 15px;
			border-top: 1px solid #ccc;
			float: none;
			width: 100%;
		}

		@media #{$xxlarge-up} {
			margin-top: 18px;
			padding-top: 24px;
		}

		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}

		.item {

			&__title {
				font-size: 12px;
				line-height: 16px;

				@media #{$xxlarge-up} {
					font-size: 18px;
					line-height: 22px;
				}

				a {
					color: #333;
					text-decoration: none;
				}
			}

			&__date {
				margin-top: 4px;
				font-size: 11px;
				color: #666;

				@media #{$xxlarge-up} {
					margin-top: 8px;
					font-size: 16px;
				}
			}
		}
	}
}

.manufacturers {

	&__list {

		.columns {

			&:nth-child(2n+1) {

				@media #{$medium-only} {
					clear: left;
				}
			}
		}
	}

	&__item {
		margin-bottom: 30px;

		.item {

			&__title {

				h4 {
					font-family: $body-font-family;
					color: #333;
					font-size: 18px;

					@media #{$xxlarge-up} {
						font-size: 24px;
					}
				}
			}

			&__list {

				ul {
					@include null-list;

					li {
						font-size: 12px;
						margin-bottom: 10px;

						@media #{$xxlarge-up} {
							font-size: 16px;
						}
					}
				}
			}

			&__more {

				a {
					color: #333;
					font-size: 12px;
					text-decoration: none;
					border-bottom: 1px dashed #333;

					@media #{$xxlarge-up} {
						font-size: 16px;
					}

					&:hover {
						border-color: transparent;
					}
				}
			}
		}
	}
}

.article {
	font-size: 12px;
	line-height: 18px;

	@media #{$xxlarge-up} {
		font-size: 16px;
		line-height: 24px;
	}

	&__image {
		position: relative;
		margin-right: -15px;
		margin-left: -15px;

		@media #{$xlarge-up} {
			margin-right: 0;
		}
	}

	&__info {
		position: absolute;
		left: 15px;
		top: 10px;
	}

	&__title {

		h1 {
			@include null-block;
			color: #FFF;
			font-family: $body-font-family;
			font-size: 28px;
			line-height: 30px;
			margin-top: 19px;

			@media #{$xxlarge-up} {
				font-size: 44px;
				line-height: 48px;
			}
		}
	}

	&__category {
		margin-top: 25px;

		a {
			display: inline-block;
			background: #fff;
			padding: 3px 14px;
			color: #333;
			text-decoration: none;

			@media #{$xxlarge-up} {
				font-size: 18px;
			}
		}
	}

	&__text {
		margin-top: 20px;
	}

	&__date {
		margin-top: 20px;
		color: #666;
		font-style: italic;
	}
}

.same {

	&__title {

		h3 {
			@include null-block;
			color: #FFF;
			font-family: $body-font-family;
			font-size: 24px;
			line-height: 26px;

			@media #{$xxlarge-up} {
				font-size: 42px;
				line-height: 42px;
			}
		}
	}

	&__list {
		margin-top: 24px;

		@media #{$xxlarge-up} {
			margin-top: 36px;
		}
	}

	&__item {

		.item {

			a {
				color: #fff;
			}

			&__category {
				margin-top: 16px;

				a {
					display: inline-block;
					vertical-align: top;
					color: #fff;
					font-size: 12px;
					line-height: 16px;
					font-weight: bold;
					border: 1px solid #fff;
					padding: 1px 12px;;
					text-decoration: none;

					@media #{$xxlarge-up} {
						font-size: 18px;
						line-height: 18px;
						border-width: 2px;
						padding: 4px 16px;
					}
				}
			}

			&__text {
				margin-top: 10px;
				color: #fff;
				font-size: 12px;
				line-height: 14px;

				@media #{$xxlarge-up} {
					margin-top: 18px;
					font-size: 16px;
					line-height: 20px;
				}

				img {
					display: block;
					margin-bottom: 20px;

					@media #{$xxlarge-up} {
						margin-bottom: 30px;
					}
				}

				h4 {
					@include null-block;
					color: #fff;
					font-family: $body-font-family;
					font-size: 20px;
					line-height: 24px;
					margin-bottom: 12px;

					@media #{$xxlarge-up} {
						font-size: 26px;
						line-height: 34px;
						margin-bottom: 18px;
					}
				}
			}
		}
	}
}

.articles {

	.slider {
		margin: 0 -15px;

		@media #{$large-up} {
			margin: 0 0 0 -15px;
		}

		@media #{$xxlarge-up} {
			margin: 0;
		}

		&__item {

			.item {

				&__image {
					max-height: inherit;
				}
			}
		}
	}

	&__list {

		.columns {

			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}

	&__item {
		margin-top: 20px;

		@media #{$xxlarge-up} {
			margin-top: 50px;
		}

		.item {
			margin-top: 10px;
			color: #333;
			font-size: 12px;
			line-height: 14px;

			@media #{$xxlarge-up} {
				margin-top: 18px;
				font-size: 16px;
				line-height: 20px;
			}

			img {
				display: block;
				margin-bottom: 20px;

				@media #{$xxlarge-up} {
					margin-bottom: 30px;
				}
			}

			h4 {
				@include null-block;
				color: #8D0D0B;
				font-family: $body-font-family;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 12px;

				@media #{$xxlarge-up} {
					font-size: 26px;
					line-height: 34px;
					margin-bottom: 18px;
				}
			}
		}
	}
}

.pagination {
	margin-top: 30px;
	font-size: 12px;

	@media #{$xxlarge-up} {
		font-size: 16px;
	}

	a {
		padding: 3px 5px;
		margin: 0 3px;
		color: #333;

		&.active {
			background: #901337;
			color: #fff;
			text-decoration: none;
		}
	}
}

.vacancies {

	&__list {

		.columns {

			&:nth-child(2n+1) {

				@media #{$medium-only} {
					clear: left;
				}
			}

			&:nth-child(3n+1) {

				@media #{$large-up} {
					clear: left;
				}
			}
		}
	}

	&__item {
		margin-bottom: 40px;
		font-size: 12px;
		line-height: 16px;

		@media #{$xxlarge-up} {
			font-size: 16px;
			line-height: 24px;
		}

		.item {

			h4 {
				font-size: 16px;
				line-height: 22px;

				@media #{$xxlarge-up} {
					font-size: 22px;
					line-height: 28px;
				}
			}

			h5 {
				font-size: 14px;
				margin-bottom: 0;

				@media #{$xxlarge-up} {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
}

.vacancy {
	font-size: 12px;
	line-height: 16px;

	@media #{$xxlarge-up} {
		font-size: 16px;
		line-height: 24px;
	}

	h4 {
		font-size: 16px;
		line-height: 22px;

		@media #{$xxlarge-up} {
			font-size: 22px;
			line-height: 28px;
		}
	}

	h5 {
		font-size: 14px;
		margin-bottom: 0;

		@media #{$xxlarge-up} {
			font-size: 18px;
			line-height: 24px;
		}
	}
}