/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadPro";
    src: url("MyriadProRegular/MyriadProRegular.eot");
    src: url("MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadPro";
    src: url("MyriadProBold/MyriadProBold.eot");
    src: url("MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("MyriadProBold/MyriadProBold.woff") format("woff"),
    url("MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadPro";
    src: url("MyriadProItalic/MyriadProItalic.eot");
    src: url("MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadPro";
    src: url("MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
